p {
  margin: 1%;
  text-align: center;
}

.LoginButton {
  width: 80% !important;
  position: static !important;
  display: block !important;
  margin: 0 auto !important;
  background-color: blue !important;
}
