.paper {
  padding: 3vh 8vh;
  text-align: center;
  margin-left: 5px;
}
.paper:hover {
  background-color: #c4c4c4;
}
.link-content {
  text-decoration: none;
}

#btn-unlogged {
  color: 'white';
  background-color: #3137bc;
  margin-left: 50px;
  margin-right: 50px;
}

#btn-logged {
  color: 'white';
  background-color: violet;
  margin-left: 50px !important;
  margin-right: 50px !important;
}
