header {
  width: 100vw;
  height: 6vh;
}

.paper {
  padding: 2.5vh 8vh;
  text-align: center;
  margin-left: 5px;
}
.paper:hover {
  background-color: #c4c4c4;
}
.link-content {
  text-decoration: none;
}
.btn-style {
  width: 250px;
}

#btn-unlogged {
  background-color: wheat;
  margin-left: 50px;
  margin-right: 50px;
}

#btn-logged {
  color: "white";

  margin-left: 50px !important;
  margin-right: 50px !important;
}
