.usersContainer {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.usersList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}