.userEditContainer {
  background-color: #282c33 !important;
  display: flex;
}

.hardSkillsTitle {
  font-size: 2rem;
  font-weight: bolder;
  color: white !important;
  text-align: center;
}

.worksTitle {
  font-size: 2rem;
  font-weight: bolder;
  color: white !important;
  text-align: center;
}

.profileInformationCard {
  background-color: white !important;
  padding: 20px;
}

#userCard {
  height: 600px;
  background-color: rgba(0, 0, 0, 0.075);
}

.techContainer {
  width: 100%;
}

.workContainer {
  width: 100%;
}

.techsAndWorkContainer {
  flex-grow: 1;
}

@media (max-width: 728px) {
  #userCard {
    width: 100vw;
    height: 100vh;
  }
  .userEditContainer {
    display: block;
  }
}
